* {
    font-family: 'Iosevka Nerd Font Mono', FiraCode, Icons, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    min-height: 0;
    min-width: 0;
    margin: 0 0;
}

window#waybar {
    /* background-color: rgba(29, 32, 33, 0.95); */
    background-color: rgba(40, 40, 40, 0.95);
    /* background-color: #1d2021; */
    color: #ffffff;
}

#pulseaudio,
#network, 
#cpu, 
#tray,
#memory, 
#disk,
#custom-notification,
#clock {
    color: #ffffff;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #333333;
}

#workspaces button {
    color: #ffffff;
    background: #222222;
    border-color: #333333;
    border: 0.05px solid;
}

/* #workspaces button:hover { */
/*     background: rgba(0, 0, 0, 0.9); */
/* } */

#workspaces button.focused {
    /* background-color: #64727D; */
    background: #285577;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#mode,
#workspaces {
    margin: 0 0px;
}
